{% extends 'base.html' %}

{% block content %}
  <h1>Алгоритм</h1>
  <h2>Вводите значения через запятую</h2>
  <h2>Пример:   -0.7, -0.5, 1, 10, 15  и тд.</h2>

  <form method="post" id="form-id">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Рассчитать</button>
    <button type="button" onclick="clearForm()">Очистить</button>
  </form>

  {% if df_A %}
    <h2>Таблица расчетов для завода A</h2>
    {{ df_A|safe }}
    <p>KC для завода A: {{ KC_A }}</p>
  {% endif %}

  {% if df_B %}
    <h2>Таблица расчетов для завода B</h2>
    {{ df_B|safe }}
    <p>KC для завода B: {{ KC_B }}</p>
  {% endif %}

  {% if plot_url1 %}
  <h2>Эмпирическая функция распределения и нормальное распределение для завода A</h2>
  <img src="data:image/png;base64,{{ plot_url1 }}">
{% endif %}

{% if plot_url2 %}
  <h2>Эмпирическая функция распределения и нормальное распределение для завода B</h2>
  <img src="data:image/png;base64,{{ plot_url2 }}">
{% endif %}

{% if KC_A > critical_value %}
  <p>Для завода А:</p>
  <p>Гипотеза о совпадении эмпирического и теоретического распределений отвергается, так как {{ KC_A }} > {{ critical_value }}</p>
{% else %}
  <p>Для завода А:</p>
  <p>Гипотеза о совпадении эмпирического и теоретического распределений не отвергается, так как {{ KC_A }} < {{ critical_value }}</p>
{% endif %}

{% if KC_B > critical_value %}
  <p>Для завода B:</p>
  <p>Гипотеза о совпадении эмпирического и теоретического распределений отвергается, так как {{ KC_B }} > {{ critical_value }}</p>
{% else %}
  <p>Для завода B:</p>
  <p>Гипотеза о совпадении эмпирического и теоретического распределений не отвергается, так как {{ KC_B }} < {{ critical_value }}</p>
{% endif %}
{% endblock %}