<div class="center">
    <h1>Калькулятор</h1>
    
    <form action="result">
        <input type="number" name="number1" placeholder="Введите первое число">
        <br>
        <br> 
        <input type="number" name="number2" placeholder="Введите второе число">
        <br>
        <br>
        <button type="submit" name="add">Добавить</button>
        <button type="submit" name="subtract">Вычесть</button>
        <button type="submit" name="multiply">Умножить</button>
        <button type="submit" name="divide">Разделить</button>
    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>
    